body {
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    background-image: url('12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    width: 400px;
    padding: 30px;
    background-color:grey;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: white;
    
    
}
.container h1{
    text-shadow: 2px 2px blue;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-task {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}


.add-task input {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.task-list {
    margin-top: 20px;
    color: black;
}
.task-list h2{
    color: white;
    text-shadow: 2px 2px blue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}

li.completed {
    text-decoration: line-through;
    background-color: #e0e0e0;
}

.task-actions button {
    margin-left: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}

.task-actions button.edit {
    background-color: #ffa500;
}

.task-actions button.delete {
    background-color: #f44336;
}

.task-actions button.complete {
    background-color: #4CAF50;
}
